<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uruguay | Fenedur</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div>
        <!-- logo fenedur -->
        <div>
          <!-- boton idiomas -->
          <!-- menu hamb -->
        </div>
      </div>
    </nav>

    <!-- Mercado Uruguay -->
    <article>
      <main>
        <section>
          <h2>Nuestros Mercados</h2>
          <h1>URUGUAY</h1>
          <p>
            En Uruguay nuestras marcas se comercializan con gran éxito y
            aceptación en los usuarios, llegando a todo el país para satisfacer
            las necesidades de nuestros consumidores. Para cada marca,
            destinamos material promocional, físico y digital, y desarrollamos
            campañas publicitarias que apoyan la comunicación.
          </p>
          <p>Distribuye ADESUR S.R.L. Camoens 1479, Montevideo, Uruguay.</p>
          <div>
            <div>
              <!-- logo telefono -->
              <p>(+598) 23562222</p>
            </div>
            <div>
              <!-- logo correo -->
              <p>info@adesur.com.uy</p>
            </div>
          </div>
        </section>
      </main>

      <section>
        <div>Estas son nuestras marcas en Uruguay</div>
        <!-- Grid con Marcas -->
      </section>

      <div>
        <button>Volver</button>
        <button>Mirá más mercados</button>
      </div>

      <!-- Links de info -->
      <div>
        <div>
          <!-- svg -->
          Conocé <a href="#">Nuestras Marcas</a>
          <!-- flecha -->
        </div>
        <div>
          <!-- svg -->
          Descargá <a href="#">Nuestro Catálogo</a>
          <!-- logo descarga -->
        </div>
      </div>
      <!-- Guarda de productos -->
      <div>
        <img src="" alt="Guarda Productos" />
      </div>
    </article>

    <!-- Footer -->
    <footer>
      <div>
        <h3>Contactate con nosotros</h3>
        <p>Para más información comunicate con nosotros.</p>
        <div>
          <!-- formulario -->
        </div>
        <div>
          <img src="" alt="Logo Fenedur" />
          <p>Fenedur - Todos los derechos reservados</p>
          <p>
            Juncal 1363. 11000, Montevideo, Uruguay. Tel: (+598) 2914 8000.
            Email: atencionalconsumidor@fenedur.com www.fenedur.com
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
