<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novedades | Fenedur</title>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav>
        <div>
          <!-- logo fenedur -->
          <div>
            <!-- boton idiomas -->
            <!-- menu hamb -->
          </div>
        </div>
      </nav>
    </header>

    <article>
      <main>
        <h2>Novedades</h2>
        <h3>
          Conocé las últimas noticias acerca de nuestros productos en el mundo.
        </h3>
        <hr />
        <section></section>
        <hr />
        <section></section>
        <hr />
        <section></section>
      </main>

      <!-- Links de info -->
      <div>
        <div>
          <!-- svg -->
          Conocé <a href="#">Nuestras Marcas</a>
          <!-- flecha -->
        </div>
        <div>
          <!-- svg -->
          Conocé <a href="#">Nuestros Mercados</a>
          <!-- flecha -->
        </div>
        <div>
          <!-- svg -->
          Descargá <a href="#">Nuestro Catálogo</a>
          <!-- logo descarga -->
        </div>
      </div>

      <!-- Guarda de productos -->
      <div>
        <img src="" alt="Guarda Productos" />
      </div>
    </article>

    <!-- Footer -->
    <footer>
      <div>
        <h3>Contactate con nosotros</h3>
        <p>Para más información comunicate con nosotros.</p>
        <div>
          <!-- formulario -->
        </div>
        <div>
          <img src="" alt="Logo Fenedur" />
          <p>Fenedur - Todos los derechos reservados</p>
          <p>
            Juncal 1363. 11000, Montevideo, Uruguay. Tel: (+598) 2914 8000.
            Email: atencionalconsumidor@fenedur.com www.fenedur.com
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
