<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuestros Mercados | Fenedur</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div>
        <!-- logo fenedur -->
        <div>
          <!-- boton idiomas -->
          <!-- menu hamb -->
        </div>
      </div>
    </nav>
    <!-- Nuestros Mercados -->
    <article>
      <main>
        <section>
          <img src="" alt="Nuestros mercados" />
          <div>
            <h1>
              Somos especialistas en desarrollar y comercializar productos
              adhesivos
            </h1>
            <p>
              que brindan soluciones prácticas para la reparación de objetos y
              contribuyen a la realización de diversas tareas de mantenimiento,
              creación, restauración y mejoras en el hogar.
            </p>
          </div>
        </section>
        <!--Mercados en paises -->
        <section>
          <div>Elegí el mercado de tu interés</div>
          <div>
            <!-- grid con paises -->
          </div>
        </section>
      </main>

      <!-- Links de info -->
      <div>
        <div>
          <!-- svg -->
          Conocé <a href="#">Nuestras Marcas</a>
          <!-- flecha -->
        </div>
        <div>
          <!-- svg -->
          Descargá <a href="#">Nuestro Catálogo</a>
          <!-- logo descarga -->
        </div>
      </div>
      <!-- Guarda de productos -->
      <div>
        <img src="" alt="Guarda Productos" />
      </div>
    </article>
    <!-- Footer -->
    <footer>
      <div>
        <h3>Contactate con nosotros</h3>
        <p>Para más información comunicate con nosotros.</p>
        <div>
          <!-- formulario -->
        </div>
        <div>
          <img src="" alt="Logo Fenedur" />
          <p>Fenedur - Todos los derechos reservados</p>
          <p>
            Juncal 1363. 11000, Montevideo, Uruguay. Tel: (+598) 2914 8000.
            Email: atencionalconsumidor@fenedur.com www.fenedur.com
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
