<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quienes Somos | Fenedur</title>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav>
        <div>
          <!-- logo fenedur -->
          <div>
            <!-- boton idiomas -->
            <!-- menu hamb -->
          </div>
        </div>
      </nav>
    </header>

    <article>
      <main>
        <section>
          <!-- quienes somos -->
          <div>
            <h2>¿Quienes Somos?</h2>
            <h1>
              Somos una compañía dedicada al desarrollo, producción y
              comercialización de pegamento de alta calidad, con marcas
              reconocidas a nivel mundial y
              <span>más de 30 años en el mercado, presentes en 17 paises.</span>
            </h1>
            <img src="" alt="Fabrica Fenedur" />
          </div>
          <div>
            <p>
              <span>Nuestros productos</span> se utilizan en el hogar, en el
              taller y en la industria en general con excelentes resultados
              brindando soluciones duradera, resistentes y efectivas.
            </p>
            <p>
              <span>Nuestro objetivo</span> es proporcionar soluciones prácticas
              a las personas que realizan tareas en el hogar mediante el uso de
              adhesivos y productos relacionados con dichas tareas, en todos los
              mercados del mundo.
            </p>
            <p>
              Nos concentramos en aquellas marcas que permiten establecer y
              consolidar una posición de liderazgo en los mercados en los que
              participamos.
            </p>
          </div>
        </section>
      </main>

      <div><!-- slider --></div>
      <section>
        <div>
          <h3>¿Por qué comprar o comercializar nuestros productos?</h3>
          <!-- logo manos -->
          <p>
            Porque brindan soluciones de valor, de alta calidad y duraderas a
            los consumidores potenciando el negocio de quien los comercializa.
          </p>
          <p>
            En algunos mercados adaptamos nuestras marcas a la lengua materna
            para tener un sentimiento local entre los consumidores y, al mismo
            tiempo, construimos una imagen sólida en todos los paises en que
            comercializamos nuestros productos. Llevamos más de 50 años
            compartiendo historias con nuestros consumidores, nuestros
            personajes son reconocidos y nuestros jingles se cantan en muchos
            paises.
          </p>
        </div>
      </section>
      <!-- de Uruguay al mundo -->
      <section>
        <div>
          <h3>De Uruguay al mundo</h3>
          <p>
            El concepto de calidad está fuertemente arraigado en la política de
            la empresa y garantiza la excelencia de nuestros productos.
          </p>
          <!-- logo avion -->
          <p>
            La organización comercial y la distribución han sido
            estratégicamente pensadas para abastecer con la máxima eficiencia
            las necesidades de nuestros consumidores en todo el mundo.
          </p>
          <p>
            Es por ello que actualmente comercializamos nuestros productos en 17
            paises:
            <span
              >Uruguay, Brasil, Chile, Paraguay, Bolivia, Guatemala, Nicaragua,
              El Salvador, Costa Rica, España, Polonia, Rumanía, Rusia,
              Bulgaria, Macedonia, Italia e Israel.
            </span>
          </p>
        </div>
      </section>
      <!-- Mision Vision -->
      <section>
        <div>
          <h2>MISIÓN</h2>
          <p>
            Inspirar a nuestros consumidores brindándoles productos adhesivos de
            calidad que ayuden a solucionar sus problemas cotidianos
            relacionados con la rotura de objetos de diferente envergadura y
            complejidad y que les permita crear y mejorar su entorno.
          </p>
          <!-- logo caja -->
        </div>
        <div>
          <!-- logo medalla -->
          <h2>VISÓN</h2>
          <p>
            Ser líderes en el desarrollo y venta de productos adhesivos en el
            mundo inspirando a consumidores, clientes y proveedores.
          </p>
        </div>
        <div>
          <h2>VALORES</h2>
          <p>Calidad</p>
          <p>Honestidad</p>
          <p>Respeto</p>
          <p>Conexión</p>
          <p>Innovación</p>
        </div>
      </section>

      <!-- Links de info -->
      <div>
        <div>
          <!-- svg -->
          Conocé <a href="#">Nuestras Marcas</a>
          <!-- flecha -->
        </div>
        <div>
          <!-- svg -->
          Conocé <a href="#">Nuestros Mercados</a>
          <!-- flecha -->
        </div>
        <div>
          <!-- svg -->
          Descargá <a href="#">Nuestro Catálogo</a>
          <!-- logo descarga -->
        </div>
      </div>

      <!-- Guarda de productos -->
      <div>
        <img src="" alt="Guarda Productos" />
      </div>
    </article>
    <!-- Footer -->
    <footer>
      <div>
        <h3>Contactate con nosotros</h3>
        <p>Para más información comunicate con nosotros.</p>
        <div>
          <!-- formulario -->
        </div>
        <div>
          <img src="" alt="Logo Fenedur" />
          <p>Fenedur - Todos los derechos reservados</p>
          <p>
            Juncal 1363. 11000, Montevideo, Uruguay. Tel: (+598) 2914 8000.
            Email: atencionalconsumidor@fenedur.com www.fenedur.com
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
