@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  font-family: "Montserrat", sans-serif !important;
  color: #766e65;
}

/* Header */

.carousel-indicators {
  top: 105%;
}

.carousel-indicators [data-bs-target] {
  background-color: #766e65;
}

/* Navbar */

/* Main Home */
.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 10%;
}

.mainContainer h1 {
  margin-bottom: 2%;
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.mainContainer p {
  width: 45%;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.mainContainer .boldText {
  font-weight: 700;
  font-size: 28px;
  width: 40%;
}
.mainContainer .boldTextBottom {
  font-weight: 700;
  font-size: 28px;
  width: 44%;
}

.mainContainer img {
  width: 42%;
  margin: 3% 0 3% 0;
}

.mainContainer .containerP {
  width: 40%;
  font-size: 22px;
  margin-bottom: 4%;
}

.mainContainer button {
  width: 11%;
  background-color: #766e65;
  color: white;
  font-size: 21px;
  font-weight: 500;
  padding: 0.3%;
  border-radius: 28px;
}
.mainContainer button a {
  text-decoration: none;
  width: 100%;
  color: white;
}

.logoFenedur {
  position: absolute;
  top: 5%;
  left: 6%;
}
.logoFenedur img {
  width: 61%;
}

/* V-line */

.v-line {
  border-left: thick solid #fff;
  height: 18%;
  left: 75.6%;
  position: absolute;
  top: 25%;
  color: #fff;
}
.v-line p {
  font-size: 26px;
  width: 70%;
  font-weight: 500;
  margin-left: 5%;
  letter-spacing: 0.5px;
}

/* Boton Lenguaje */

.lenguaje {
  position: absolute;
  left: 75%;
  top: 10%;
  font-size: 18px;
  width: 10%;
}

.lenguaje button {
  width: 100%;
  background-color: #fff;
  padding: 6%;
  border-radius: 28px;
}

.lenguaje button a {
  text-decoration: none;
  width: 100%;
  color: #59534d;
  font-weight: 600;
  margin-right: 10%;
}

.lenguaje button i {
  color: #59534d;
  font-size: 22px;
}

/* Hamburguer */

.hamburguer {
  position: absolute;
  left: 92%;
  top: 9%;
  font-size: 40px;
  color: #fff;
  width: 5%;
}

.hamburguer button {
  background-color: transparent;
  color: white;
}

.menu {
  background-color: white;
  position: absolute;
  right: 50%;
  width: 500%;
  z-index: 9999;
}

.menu ul hr {
  width: 90%;
  color: #766e65;
  margin: 0;
}

.menu ul li {
  width: 80%;
  margin: auto;
}

.menu ul li a {
  text-decoration: none;
  color: #766e65;
  font-size: 16px;
  font-weight: 600;
}

.menu ul li a:hover {
  font-weight: 700;
}

/* Boton Conoce Mas */

.btnConoceMas {
  position: absolute;
  left: 45%;
  top: 88%;
  font-size: 14px;
  width: 10%;
}

.btnConoceMas button {
  width: 93%;
  background-color: transparent;
  padding: 3%;
  border-radius: 28px;
  border: 2px solid #fff;
}

.btnConoceMas button a {
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-weight: 700;
}

/* Por que comprar */

.whyBuy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 4% 0 0 0;
}

.whyContainer {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.whyContainer h2 {
  font-size: 40px;
  width: 78%;
  margin: auto;
  line-height: 51px;
  font-weight: 400;
}

.whyContainer img {
  width: 60%;
  margin: 7% 0 7% 0;
}

.whyContainer p {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0 0 10% 0;
  width: 100%;
}
/* img Marcas */
.brandsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.brandsContainer img {
  width: 78%;
}
/* Links de info */

.linksContainer {
  width: 78%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  gap: 1%;
}

.linksContainer .link {
  width: 24.4%;
  height: 8.5rem;
  background-color: #ebeae8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.linksContainer .black {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #3b3835;
  color: #fff;
}

.linksContainer .linkText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-weight: 400;
  color: #fff;
  /* width: 80%; */
  width: 100%;
  margin: 0 0 0 10%;
  gap: 4%;
}
.linkText img {
  width: 34%;
}

.linksContainer .linkText a {
  text-decoration: none;
  color: #766e65;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  margin: 1% 0 0 2%;
}

.linkText a span {
  font-size: 14px;
  font-weight: 300;
}

.linkText .download {
  width: 40%;
  margin: 13% 6% 0 0;
}

.black .whiteText a {
  color: #fff;
}

.imgContainer {
  width: 40%;
  margin: 18% 3% 0 0%;
}

.imgContainer img {
  width: 60%;
  filter: opacity(0.5);
}

.linkText .world {
  width: 25%;
}

.linksContainer .blackCatalogue {
  width: 5rem;
  margin: -12% 0% 0% 45%;
  font-weight: 400;
  color: #766e65;
}
.black img {
  width: 32%;
}

.blackCatalogue p {
  color: white;
}

.linksContainer .blackCatalogue a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 10px;
}

/* Guarda Productos */

.products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.products img {
  width: 50%;
}

/* Footer */

.footerContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2f2c29;
  width: 100%;
  height: 60rem;
  color: white;
}

.h_footer-container {
  margin: 4.5% 35.6% 0 0;
}

.h_footer-container h3 {
  font-size: 1.57rem;
}
.h_footer-container p {
  font-size: 14px;
  font-weight: 500;
}

/* Formulario */

.formContainer {
  background-color: #363330;
  width: 60%;
  height: 50%;
  padding: 3%;
}

.col-md-1 {
  width: 10%;
}

.inputSelect {
  margin-right: 0;
}

.textareaForm {
  margin-right: 1%;
  width: 40%;
  padding: 0;
}

.captcha {
  margin: 4% 0 0 7%;
}

.btnSubmit {
  margin-top: 3%;
}

.btnSubmit button {
  border-radius: 28px;
  background-color: #656565;
  border: none;
  font-size: 15px;
  width: 14%;
  font-weight: 500;
}

/* Data Fenedur */

.dataFenedur {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 59.6%;
  margin-top: 2.5%;
}

.dataFenedur .logoContainer {
  width: 100%;
  text-align: start;
}

.logoContainer img {
  width: 48%;
  margin-right: 1%;
}

.dataFenedur .logoContainer p {
  margin: 1rem 0 3rem 0;
  font-weight: 500;
}

.adress {
  width: 100%;
  font-size: 18px;
  margin: 0 0 7% 5%;
}

.adress p {
  margin: 0 0 1% 0;
  font-weight: 500;
}

.adress span {
  font-weight: 500;
  color: #b1aba8;
}

/* Quienes Somos View */

/* Header / Navbar */
.navWho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  /* background-image: url(../assets/img/headerFenedur.jpg);
  background-size: cover; */
  background-color: #766e65;
  width: 100%;
  height: 205px;
}
/* Quienes somos */

.whoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 65%;
  margin: auto;
  text-align: center;
}

.whoContainer h1 {
  margin: 8% 0 3% 0;
}

.whoContainer h2 {
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 1px;
}

.whoContainer img {
  width: 76%;
  margin: 7% auto;
}

.whoContainer h2 span {
  font-weight: 600;
}

.ourProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 64%;
  margin: auto;
  text-align: start;
  font-size: 24px;
  gap: 45px;
}

.ourProducts p {
  margin: 0 3% 0 3%;
}

.ourProducts p span {
  font-weight: 600;
}

/* Slider marcas */

.sliderLabel {
  width: 60%;
  text-align: center;
  margin: auto;
}

.sliderLabel p {
  font-weight: 400;
  font-size: 1.5rem;
}

.sliderBrands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 60%;
  background-color: #e1dfdd;
  margin: 5% auto;
  height: 440px;
}

.indicators {
  top: 109%;
}

.inner {
  padding-left: 2.5%;
}

.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

/* Por que comercializar? */

.whySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: auto;
  width: 65%;
}

.whyHeader {
  text-align: center;
  margin: auto;
}

.whyHeader h2 {
  width: 70%;
  margin: 5% auto;
  font-size: 31px;
  font-weight: 400;
}

.whyHeader img {
  width: 47%;
}

.whyHeader h3 {
  width: 81%;
  margin: 5% auto;
  font-size: 26px;
}

.whyHeader p {
  width: 88%;
  margin: auto;
  color: #b0b0b0;
  font-size: 20px;
  font-weight: 500;
}

/* De Uruguay al mundo */

.fromUruguay {
  text-align: center;
  width: 100%;
  margin: 7% auto;
}

.fromUruguay h2 {
  margin: 2% auto;
  font-size: 29px;
}

.fromUruguay h4 {
  margin: 2% auto;
  width: 90%;
}

.fromUruguay img {
  width: 50%;
}

.fromUruguay .firstP {
  width: 86%;
  font-size: 23px;
  color: #b0b0b0;
  margin: 2.5% auto;
  font-weight: 500;
}

.fromUruguay p {
  font-size: 22px;
  font-weight: 500;
  width: 84%;
  margin: 2.5% auto;
  letter-spacing: 0.5px;
}

.fromUruguay p span {
  font-weight: 600;
  font-size: 22px;
}

/* Mision Vision */

/* Mision */
.misionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  gap: 7%;
}

.misionContainer img {
  width: 26%;
  position: relative;
  top: 41px;
}

.mision {
  font-size: 24px;
  width: 48%;
  font-weight: 500;
}

.mision h2 {
  color: #d1d1d1;
  font-size: 80px;
  font-weight: 300;
}

/* Vision */

.visionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5% 0 2.5% 6%;
  width: 100%;
  gap: 18%;
}

.visionContainer img {
  width: 20%;
}

.vision {
  font-size: 24px;
  width: 36%;
  font-weight: 500;
}

.vision h2 {
  color: #d1d1d1;
  font-size: 80px;
  font-weight: 300;
}

/* Valores */

.valores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 2.5% auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.valores h2 {
  font-size: 90px;
  color: #d1d1d1;
  font-weight: 300;
}

.valores p:nth-child(even) {
  color: #d1d1d1;
  font-weight: 500;
}

/* Nuestros Mercados View */
.shadowHeader {
  margin: 5% auto 0;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 26%;
  font-size: 44px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 17px 50px white;
}

.ourMarkets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;
}

.ourMarketsHeader {
  background-image: url(../assets/img/planisferio.jpg);
  background-size: cover;
  width: 122%;
  text-align: center;
  margin-top: 3.7%;
  height: 640px;
}

.mainText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 1% auto;
  flex-flow: column nowrap;
  text-align: center;
}

.mainText h2 {
  width: 70%;
  margin-bottom: 3%;
}

.mainText p {
  font-size: 24px;
  font-weight: 500;
  color: #b0b0b0;
}

.selectContainer {
  width: 26%;
  background-color: #766e65;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  margin: auto;
  padding: 0.5%;
}

.gridFlags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  width: 58%;
  margin: 5% auto;
  justify-items: center;
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flags a {
  text-decoration: none;
  width: 70%;
  text-align: start;
  color: #766e65;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.flags p {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

/* Links info Mercados */

.infoMarketsContainer {
  gap: 6%;
}

.linksContainer .linkMarkets {
  width: 35%;
  height: 7.5rem;
}

.linksContainer .linkTextMarkets {
  margin: 0;
  gap: 4%;
  width: 70%;
}

/* Mercado Paises */

.countryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 55%;
  margin: 5% auto 3%;
  text-align: center;
}

.countryContainer h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 6%;
}

.countryContainer h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 2%;
}

.countryContainer p {
  font-size: 24px;
  margin: 0 auto 4%;
  color: #b0b0b0;
  line-height: 35px;
}

.countryContainer p:nth-child(n + 4) {
  width: 60%;
  font-size: 24px;
  margin: 2% auto;
  color: #766e65;
  line-height: 10px;
  font-weight: 500;
}

.contactLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-flow: row nowrap;
  width: 55%;
}

.logoContainer {
  text-align: center;
  line-height: 60px;
}

.contactLogos img {
  width: 11%;
  text-align: center;
}

.logoContainer p {
  font-size: 26px;
  font-weight: 500;
}

.headerBrands {
  width: 35%;
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 8px;
  width: 60%;
  margin: 3% auto;
}

.cardBrand {
  width: 90%;
  height: 400px;
  background-color: #e9e8e6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: auto;
  font-size: 24px;
  font-weight: 500;
}

.buttonsContainer {
  width: 40%;
}

.cardBrand .goWeb {
  background-color: #766e65;
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 1%;
  border-radius: 24px;
  font-weight: 500;
}

.cardBrand .goBrand {
  background-color: white;
  width: 100%;
  color: #766e65;
  font-size: 14px;
  padding: 1%;
  border-radius: 24px;
  font-weight: 500;
}

.back-markets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto 10%;
  gap: 10%;
}

.back-markets button {
  background-color: #766e65;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 24px;
  width: 18%;
  padding: 5px;
}

.back-markets button a {
  width: 100%;
  text-decoration: none;
  color: white;
}

/* Marcas y Productos */

.brands-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5% auto 4%;
  width: 60%;
  text-align: center;
}

.brands-products h1 {
  margin-bottom: 1%;
  font-weight: 500;
}

.brands-products p:nth-child(2) {
  font-weight: 500;
  margin: auto;
  font-size: 26px;
}

.brands-products p:nth-child(3) {
  font-weight: 400;
  font-size: 24px;
  margin: auto;
}

.gridBrands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 60%;
  margin: 3% auto;
}

.oneBrand img {
  width: 100%;
}

/* Producto View */

.productSection h2 {
  font-size: 44px;
  margin: 6% auto 3%;
  text-align: center;
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 70%;
  margin: auto;
}

.productContainer h2 {
  font-size: 25px;
  font-weight: 600;
  width: 80%;
}

.productContainer p {
  font-size: 25px;
  text-align: center;
  width: 85%;
}

.brandIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 85%;
  background-color: #e9e8e6;
  text-align: center;
}

.brandIn h3 {
  font-size: 26px;
  width: 60%;
  margin: 7% auto 4%;
}

.chooseCountry {
  width: 65%;
  color: white;
  font-size: 22px;
  background-color: #766e65;
  font-weight: 500;
  padding: 0.3%;
}

.gridBrandCountry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 80%;
  margin: 8% 0;
}

.brandCountry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 6% 0;
}

.brandCountry p {
  margin: 0 5%;
  text-align: start;
  font-weight: 500;
}
/* Novedades View */

.headerNewsContainer {
  width: 100%;
  text-align: center;
  margin: 5% auto 4%;
}

.headerNewsContainer h1 {
  font-size: 44px;
}

.headerNewsContainer h3 {
  text-align: center;
  width: 50%;
  margin: auto;
}

hr {
  width: 50%;
  margin: auto;
  border-top: 1px solid;
  opacity: 1;
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5% auto;
  width: 100%;
}

.newsContainer img {
  width: 30%;
  position: relative;
}

.newsDiv {
  width: 30%;
}

.newsDiv p {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.newsDiv h2 {
  width: 94%;
  font-size: 30px;
  font-weight: 600;
  margin: 2% 0;
}

.newsDiv p:nth-child(4) {
  font-size: 18px;
  width: 89%;
  margin: 1% 0 6%;
}

.newsDiv button {
  width: 31%;
  background-color: #766e65;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 1%;
  border-radius: 28px;
}

.newsDiv button a {
  text-decoration: none;
  width: 100%;
  color: white;
}

/* Novedad View */

.newsContainer-new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5% auto;
  width: 100%;
}

.newsDiv-new {
  width: 60%;
  margin: auto;
  text-align: start;
}

.newsDiv-new p {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.newsDiv-new h2 {
  width: 94%;
  font-size: 30px;
  font-weight: 600;
  margin: 2% 0;
}

.newsDiv-new p:nth-child(4) {
  font-size: 18px;
  width: 93%;
  margin: 1% 0 6%;
}

.newsContainer-new img {
  width: 50%;
}

.newsContainer-new button {
  width: 24%;
  background-color: #766e65;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 0.8%;
  border-radius: 28px;
  margin: 4% 0 6%;
}

.newsContainer-new button a {
  text-decoration: none;
  width: 100%;
  color: white;
}
