@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  font-family: "Montserrat", sans-serif !important;
  color: #766e65;
}

/* Navbar */

/* Main Home */
.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 6%;
}

.mainContainer h1 {
  margin-bottom: 2%;
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.mainContainer p {
  width: 45%;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.mainContainer .boldText {
  font-weight: 700;
  font-size: 28px;
  width: 40%;
}
.mainContainer .boldTextBottom {
  font-weight: 700;
  font-size: 28px;
  width: 44%;
}

.mainContainer img {
  width: 40%;
  margin: 3% 0 3% 0;
}

.mainContainer .containerP {
  width: 40%;
  font-size: 22px;
  margin-bottom: 4%;
}

.mainContainer button {
  width: 11%;
  background-color: #766e65;
  color: white;
  font-size: 21px;
  font-weight: 500;
  padding: 0.3%;
  border-radius: 28px;
}
.mainContainer button a {
  text-decoration: none;
  width: 100%;
  color: white;
}

.logoFenedur {
  position: absolute;
  top: 10%;
  left: 5%;
}
.logoFenedur img {
  width: 75%;
}

.v-line {
  border-left: thick solid #fff;
  height: 24%;
  left: 75%;
  position: absolute;
  top: 18%;
  color: #fff;
}
.v-line p {
  font-size: 35px;
  font-weight: 500;
  margin-left: 5%;
}

/* Hamburguer */

.hamburguer {
  position: absolute;
  left: 95%;
  top: 5%;
  font-size: 40px;
  color: #fff;
}

/* Por que comprar */

.whyBuy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 4% 0 0 0;
}

.whyContainer {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.whyContainer h2 {
  font-size: 40px;
  width: 78%;
  margin: auto;
  line-height: 51px;
  font-weight: 400;
}

.whyContainer img {
  width: 60%;
  margin: 7% 0 7% 0;
}

.whyContainer p {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0 0 10% 0;
  width: 100%;
}

/* Links de info */

.linksContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 5% 0 5% 0;
  gap: 1%;
}

.linksContainer .link {
  width: 24.4%;
  height: 10.5rem;
  background-color: #ebeae8;
}

.linksContainer .black {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #3b3835;
  color: #fff;
}

.linksContainer .linkText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-weight: 400;
  color: #fff;
  width: 79%;
  gap: 11%;
}
.linksContainer p {
  margin-bottom: 0;
}

.linksContainer .linkText a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.linkText a span {
  font-size: 16px;
  font-weight: 300;
}

.linkText .whiteText {
  color: #fff;
}

.imgContainer {
  width: 100%;
}

.imgContainer img {
  width: 40%;
  filter: opacity(0.5);
}

.linksContainer .blackCatalogue {
  width: 5rem;
  margin: -12% 0% 0% 45%;
  font-weight: 400;
  color: #766e65;
}
.black img {
  width: 30%;
}

.blackCatalogue p {
  color: white;
}

.linksContainer .blackCatalogue a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 10px;
}

/* Guarda Productos */

.products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.products img {
  width: 50%;
}

/* Footer */

.footerContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2f2c29;
  width: 100%;
  height: 50rem;
  color: white;
}

.h_footer-container {
  margin: 4.5% 35.6% 0 0;
}

.h_footer-container h3 {
  font-size: 1.57rem;
}
.h_footer-container p {
  font-size: 14px;
  font-weight: 500;
}

.formContainer {
  background-color: #363330;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 59.5%;
  height: 62%;
}

.dataFenedur {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 59.6%;
  gap: 16%;
  margin-top: 2.5%;
}

.dataFenedur .logoContainer {
  width: 100%;
  text-align: start;
}

.dataFenedur .logoContainer p {
  margin: 2rem 0 1rem 0;
  font-weight: 500;
}

.adress {
  margin: 0;
  width: 100%;
}

.adress p {
  margin: 0 0 1% 0;
  font-weight: 500;
}

.adress span {
  font-weight: 500;
  color: #b1aba8;
}
