@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
  font-family: "Montserrat", sans-serif !important;
  color: #766e65;
}

/* Header */

.carousel-indicators {
  top: 103%;
}

.carousel-indicators [data-bs-target] {
  background-color: #766e65;
}

/* Navbar */

/* Main Home */
.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 10%;
}

.mainContainer h1 {
  margin-bottom: 2%;
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.mainContainer p {
  width: 45%;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.mainContainer .boldText {
  font-weight: 700;
  font-size: 28px;
  width: 40%;
}
.mainContainer .boldTextBottom {
  font-weight: 700;
  font-size: 28px;
  width: 44%;
}

.mainContainer img {
  width: 42%;
  margin: 3% 0 3% 0;
}

.mainContainer .containerP {
  width: 40%;
  font-size: 22px;
  margin-bottom: 4%;
}

.mainContainer button {
  width: 11%;
  background-color: #766e65;
  color: white;
  font-size: 21px;
  font-weight: 500;
  padding: 0.3%;
  border-radius: 28px;
}
.mainContainer button a {
  text-decoration: none;
  width: 100%;
  color: white;
}

.logoFenedur {
  position: absolute;
  top: 5%;
  left: 6%;
}
.logoFenedur img {
  width: 61%;
}

/* V-line */

.v-line {
  border-left: thick solid #fff;
  height: 18%;
  left: 75.6%;
  position: absolute;
  top: 25%;
  color: #fff;
}
.v-line p {
  font-size: 26px;
  width: 70%;
  font-weight: 500;
  margin-left: 5%;
  letter-spacing: 0.5px;
}

/* Boton Lenguaje */

.lenguaje {
  position: absolute;
  left: 75%;
  top: 10%;
  font-size: 18px;
  width: 10%;
}

.lenguaje button {
  width: 100%;
  background-color: #fff;
  padding: 6%;
  border-radius: 28px;
}

.lenguaje button a {
  text-decoration: none;
  width: 100%;
  color: #59534d;
  font-weight: 600;
  margin-right: 10%;
}

.lenguaje button i {
  color: #59534d;
  font-size: 22px;
}

/* Hamburguer */

.hamburguer {
  position: absolute;
  left: 92%;
  top: 9%;
  font-size: 40px;
  color: #fff;
  width: 5%;
}

.hamburguer button {
  background-color: transparent;
  color: white;
}

.menu {
  background-color: white;
  position: absolute;
  right: 50%;
  width: 500%;
  z-index: 9999;
}

.menu ul hr {
  width: 90%;
  color: #766e65;
  margin: 0;
}

.menu ul li {
  width: 80%;
  margin: auto;
}

.menu ul li a {
  text-decoration: none;
  color: #766e65;
  font-size: 16px;
  font-weight: 600;
}

.menu ul li a:hover {
  font-weight: 700;
}

/* Boton Conoce Mas */

.btnConoceMas {
  position: absolute;
  left: 45%;
  top: 90%;
  font-size: 14px;
  width: 10%;
}

.btnConoceMas button {
  width: 93%;
  background-color: transparent;
  padding: 3%;
  border-radius: 28px;
  border: 2px solid #fff;
}

.btnConoceMas button a {
  text-decoration: none;
  width: 100%;
  color: #fff;
  font-weight: 700;
}

/* Panza Mobile */

.bellyMobile {
  display: none;
}

/* Por que comprar */

.whyBuy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 4% 0 0 0;
}

.whyContainer {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.whyContainer h2 {
  font-size: 40px;
  width: 78%;
  margin: auto;
  line-height: 51px;
  font-weight: 400;
}

.whyContainer img {
  width: 60%;
  margin: 7% 0 7% 0;
}

.whyContainer p {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0 0 10% 0;
  width: 100%;
}
/* img Marcas */
.brandsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.brandsContainer img {
  width: 78%;
}
/* Links de info */

.linksContainer {
  width: 78%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  gap: 1%;
}

.linksContainer .link {
  width: 24.4%;
  height: 8.5rem;
  background-color: #ebeae8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.linksContainer .black {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #3b3835;
  color: #fff;
}

.linksContainer .linkText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-weight: 400;
  color: #fff;
  width: 100%;
  margin: 0 0 0 10%;
  gap: 4%;
}
.linkText img {
  width: 34%;
}

.linksContainer .linkText a {
  text-decoration: none;
  color: #766e65;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  margin: 1% 0 0 2%;
}

.linkText a span {
  font-size: 14px;
  font-weight: 300;
}

.linkText .download {
  width: 40%;
  margin: 13% 6% 0 0;
}

.black .whiteText a {
  color: #fff;
}

.imgContainer {
  width: 40%;
  margin: 18% 3% 0 0%;
}

.imgContainer img {
  width: 60%;
  filter: opacity(0.5);
}

.linkText .world {
  width: 25%;
}

.linksContainer .blackCatalogue {
  width: 5rem;
  margin: -12% 0% 0% 45%;
  font-weight: 400;
  color: #766e65;
}
.black img {
  width: 32%;
}

.blackCatalogue p {
  color: white;
}

.linksContainer .blackCatalogue a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 10px;
}

/* Guarda Productos */

.products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.products img {
  width: 50%;
}

/* Footer */

.footerContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2f2c29;
  width: 100%;
  color: white;
}

.h_footer-container {
  margin: 4.5% 31% 0 0;
}

.h_footer-container h3 {
  font-size: 1.57rem;
}
.h_footer-container p {
  font-size: 14px;
  font-weight: 500;
}

/* Formulario */

.formContainer {
  background-color: #363330;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
  text-align: center;
}
.formContainer .col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 50%;
}
.formContainer .formName {
  margin-bottom: 6%;
  width: 100%;
}
.formContainer select {
  width: 80%;
  margin: 3% 0;
  text-align: start;
}
.formContainer .formSelect select {
  font-size: 15px;
  color: #766e65;
  padding: 1.5%;
  border-radius: 4px;
  width: 55%;
  margin: 2% 30% 3% 0;
}
.formContainer .formEmail {
  width: 100%;
}

.formContainer .col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 50%;
  margin-top: 5%;
}
.formTel {
  width: 95%;
}
.formContainer label {
  width: 80%;
  font-weight: 500;
  text-align: start;
  font-size: 14px;
}
.formContainer input {
  width: 80%;
  padding: 1%;
  border-radius: 4px;
  font-size: 14px;
}
.formContainer .formText {
  margin-top: 5%;
}
.formContainer .formText label {
  margin-right: 20%;
}
.formContainer .formText textarea {
  width: 100%;
  height: 100px;
  padding: 1%;
  border-radius: 4px;
  font-size: 24px;
}
.formContainer .formTel label {
  width: 24%;
}
.formTel label:nth-child(3) {
  margin-right: 13%;
  width: 14%;
}
.formContainer .formTel select {
  width: 25%;
  margin-right: 1%;
  color: #766e65;
  padding: 1.8%;
  border-radius: 4px;
  font-size: 13px;
}
.formContainer .formTel input {
  width: 20%;
}
.formContainer .formTel #numero {
  width: 33%;
}
.captcha {
  margin: 4% 7% 0 0%;
}

.btnSubmit {
  width: 100%;
  margin: 4% 0 3% 5%;
  text-align: start;
}

.btnSubmit button {
  border-radius: 28px;
  background-color: #656565;
  border: none;
  color: white;
  font-size: 16px;
  width: 14%;
  padding: 0.8%;
  font-weight: 500;
}

/* Data Fenedur */

.dataFenedur {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-top: 2.5%;
}

.dataFenedur .logoContainer {
  width: 100%;
  text-align: start;
}

.logoContainer img {
  width: 48%;
  margin-right: 1%;
}

.dataFenedur .logoContainer p {
  margin: 1rem 0 3rem 0;
  font-weight: 500;
}

.adress {
  width: 100%;
  font-size: 18px;
  margin: 0 0 7% 5%;
}

.adress p {
  margin: 0 0 1% 0;
  font-weight: 500;
}

.adress span {
  font-weight: 500;
  color: #b1aba8;
}

/* Quienes Somos View */

/* Header / Navbar */
.navWho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-image: url(../assets/img/top_internas.png);
  background-size: cover;
  width: 100%;
  height: 205px;
}
/* Quienes somos */

.whoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 65%;
  margin: auto;
  text-align: center;
}

.whoContainer h1 {
  margin: 8% 0 3% 0;
}

.whoContainer h2 {
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 1px;
}

.whoContainer img {
  width: 76%;
  margin: 7% auto;
}

.whoContainer h2 span {
  font-weight: 600;
}

.ourProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 64%;
  margin: auto;
  text-align: start;
  font-size: 24px;
  gap: 45px;
}

.ourProducts p {
  margin: 0 3% 0 3%;
}

.ourProducts p span {
  font-weight: 600;
}

/* Slider marcas */

.sliderLabel {
  width: 60%;
  text-align: center;
  margin: auto;
}

.sliderLabel p {
  font-weight: 400;
  font-size: 1.5rem;
}

.sliderBrands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 60%;
  background-color: #e1dfdd;
  margin: 5% auto;
  height: 440px;
}

.indicators {
  top: 109%;
}

.carousel-inner {
  height: 37rem;
}
.inner {
  height: auto;
}

.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

/* Por que comercializar? */

.whySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: auto;
  width: 65%;
}

.whyHeader {
  text-align: center;
  margin: auto;
}

.whyHeader h2 {
  width: 70%;
  margin: 5% auto;
  font-size: 31px;
  font-weight: 400;
}

.whyHeader img {
  width: 47%;
}

.whyHeader h3 {
  width: 81%;
  margin: 5% auto;
  font-size: 26px;
}

.whyHeader p {
  width: 88%;
  margin: auto;
  color: #b0b0b0;
  font-size: 20px;
  font-weight: 500;
}

/* De Uruguay al mundo */

.fromUruguay {
  text-align: center;
  width: 100%;
  margin: 7% auto;
}

.fromUruguay h2 {
  margin: 2% auto;
  font-size: 29px;
}

.fromUruguay h4 {
  margin: 2% auto;
  width: 90%;
}

.fromUruguay img {
  width: 50%;
}

.fromUruguay .firstP {
  width: 86%;
  font-size: 23px;
  color: #b0b0b0;
  margin: 2.5% auto;
  font-weight: 500;
}

.fromUruguay p {
  font-size: 22px;
  font-weight: 500;
  width: 84%;
  margin: 2.5% auto;
  letter-spacing: 0.5px;
}

.fromUruguay p span {
  font-weight: 600;
  font-size: 22px;
}

/* Mision Vision */

/* Mision */
.misionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  gap: 7%;
}

.misionContainer img {
  width: 26%;
  position: relative;
  top: 41px;
}

.mision {
  font-size: 24px;
  width: 48%;
  font-weight: 500;
}

.mision h2 {
  color: #d1d1d1;
  font-size: 80px;
  font-weight: 300;
}

/* Vision */

.visionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5% 0 2.5% 6%;
  width: 100%;
  gap: 18%;
}

.visionContainer img {
  width: 20%;
}

.vision {
  font-size: 24px;
  width: 36%;
  font-weight: 500;
}

.vision h2 {
  color: #d1d1d1;
  font-size: 80px;
  font-weight: 300;
}

/* Valores */

.valores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 2.5% auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

.valores h2 {
  font-size: 90px;
  color: #d1d1d1;
  font-weight: 300;
}

.valores p:nth-child(even) {
  color: #d1d1d1;
  font-weight: 500;
}

/* Nuestros Mercados View */
.shadowHeader {
  margin: 0% auto 0;
  position: absolute;
  width: 100%;
  z-index: 999;
  height: 40px;
  top: 34%;
  font-size: 44px;
  text-align: center;
  /* background-color: white; */
  /* box-shadow: 0px 0px 17px 50px white; */
  /* box-shadow: -1px 30px 28px 13px rgb(255 255 255); */
  /* filter: drop-shadow(8px 8px 8px white); */
}

.ourMarkets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;
}

.ourMarketsHeader {
  background-image: url(../assets/img/planisferio.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  /* margin-top: 4.7%; */
  height: 640px;
}

.mainText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 1% auto;
  flex-flow: column nowrap;
  text-align: center;
}

.mainText h2 {
  width: 70%;
  margin-bottom: 3%;
}

.mainText p {
  font-size: 24px;
  font-weight: 500;
  color: #b0b0b0;
}

.selectContainer {
  width: 26%;
  background-color: #766e65;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  margin: auto;
  padding: 0.5%;
}
.gridFlagsMarket {
  display: none;
}

.gridFlags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  width: 65%;
  margin: 5% auto;
  justify-items: center;
}

.gridFlagsMarket-grey {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  width: 65%;
  padding: 4% 0;
  margin: 0% auto;
  justify-items: center;
  background-color: #e9e8e6;
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flags a {
  text-decoration: none;
  width: 70%;
  text-align: start;
  color: #766e65;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.flags p {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

/* Links info Mercados */

.infoMarketsContainer {
  gap: 6%;
}

.linksContainer .linkMarkets {
  width: 35%;
  height: 7.5rem;
}

.linksContainer .linkTextMarkets {
  margin: 0;
  gap: 4%;
  width: 70%;
}

/* Mercado Paises */

.countryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 55%;
  margin: 5% auto 3%;
  text-align: center;
}

.countryContainer h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 6%;
}

.countryContainer h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 2%;
}

.countryContainer p {
  font-size: 24px;
  margin: 0 auto 4%;
  color: #b0b0b0;
  line-height: 35px;
}

.countryContainer p:nth-child(n + 4) {
  width: 60%;
  font-size: 24px;
  margin: 2% auto;
  color: #766e65;
  line-height: 25px;
  font-weight: 500;
}

.contactLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-flow: row nowrap;
  width: 55%;
}

.logoContainer {
  text-align: center;
  line-height: 60px;
}

.contactLogos img {
  width: 11%;
  text-align: center;
}

.logoContainer p {
  font-size: 16px;
  font-weight: 500;
}

.headerBrands {
  width: 35%;
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 8px;
  width: 60%;
  margin: 3% auto;
}

.cardBrand {
  width: 90%;
  height: 400px;
  background-color: #e9e8e6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: auto;
  font-size: 24px;
  font-weight: 500;
}
.cardBrand img {
  width: 80%;
}

.buttonsContainer {
  width: 40%;
}

.cardBrand .goWeb {
  background-color: #766e65;
  width: 100%;
  color: white;
  font-size: 14px;
  padding: 1%;
  border-radius: 24px;
  font-weight: 500;
}

.cardBrand .goBrand {
  background-color: white;
  width: 100%;
  color: #766e65;
  font-size: 14px;
  padding: 1%;
  border-radius: 24px;
  font-weight: 500;
}

.back-markets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto 4%;
  gap: 10%;
}

.back-markets button {
  background-color: #766e65;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 24px;
  width: 18%;
  padding: 5px;
}

.back-markets button a {
  width: 100%;
  text-decoration: none;
  color: white;
}

/* Marcas y Productos */

.brands-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5% auto 4%;
  width: 60%;
  text-align: center;
}

.brands-products h1 {
  margin-bottom: 1%;
  font-weight: 500;
}

.brands-products p:nth-child(2) {
  font-weight: 500;
  margin: auto;
  font-size: 26px;
}

.brands-products p:nth-child(3) {
  font-weight: 400;
  font-size: 24px;
  margin: auto;
}

.gridBrandsDropdown {
  display: none;
}

.gridBrands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 60%;
  margin: 3% auto;
}

.gridBrandsDropdown-grey {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 60%;
  padding: 3% 3%;
  margin: 3% auto;
  background-color: #e9e8e6;
}

.oneBrand img {
  width: 100%;
}

/* Producto View */

.productSection h2 {
  font-size: 44px;
  margin: 6% auto 3%;
  text-align: center;
}

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 70%;
  margin: auto;
}

.productContainer h2 {
  font-size: 25px;
  font-weight: 600;
  width: 80%;
}

.productContainer p {
  font-size: 25px;
  text-align: center;
  width: 85%;
}

.brandIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 85%;
  background-color: #e9e8e6;
  text-align: center;
}

.brandIn h3 {
  font-size: 26px;
  width: 60%;
  margin: 7% auto 4%;
}

.chooseCountry {
  width: 65%;
  color: white;
  font-size: 22px;
  background-color: #766e65;
  font-weight: 500;
  padding: 0.3%;
}

.gridBrandCountry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 80%;
  margin: 8% 0;
}

.brandCountry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 6% 0;
}

.brandCountry a {
  text-decoration: none;
  display: flex;
  width: 100%;
  color: #766e65;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.brandCountry p {
  margin: 0 5%;
  text-align: start;
  font-weight: 500;
}

/* Product Country View */
.productCountrySection h2 {
  font-size: 44px;
  margin: 6% auto 3%;
  text-align: center;
}

.productCountryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 70%;
  margin: auto;
}

.productCountryContainer img {
  width: 80%;
}

.productCountryContainer h2 {
  font-size: 25px;
  font-weight: 600;
  width: 80%;
}

.productCountryContainer p {
  font-size: 25px;
  text-align: center;
  width: 85%;
}

.infoProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 80%;
  text-align: center;
  margin: auto;
}

.infoProduct h2 {
  font-size: 30px;
}

.infoProduct h3 {
  width: 75%;
}

.infoProduct img {
  width: 60%;
  margin: 2% 0;
}

.infoCountry {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin: 4% 0;
  width: 75%;
}

.infoCountry p {
  font-size: 24px;
  margin: 1% 0;
}
.infoCountry h4 {
  margin: 4% 0;
  font-size: 26px;
  font-weight: 600;
}

.infoTel {
  text-align: start;
}

.infoTel img {
  width: 4.5%;
  margin: auto;
}
.infoTel p {
  margin: 0;
}

.iconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1%;
}

.iconContainer img {
  margin: 0;
}

.telContainer {
  margin-left: 5.6%;
}

.infoEmail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1%;
}

.infoEmail img {
  width: 5%;
  margin: 0;
}

.infoRRSS {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin: 4% 0;
  width: 100%;
}

.infoRRSS p {
  font-size: 22px;
}

.infoMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1%;
}

.infoMedia img {
  width: 5%;
  margin: 0;
}

.back-markets-country {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% auto 10%;
  gap: 1%;
}

.back-markets-country button {
  background-color: #aea69c;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 24px;
  width: 19%;
  padding: 7px;
}

.back-markets-country button:nth-child(2) {
  background-color: #766e65;
}
.back-markets-country button:nth-child(3) {
  background-color: #766e65;
}

.back-markets-country button a {
  width: 100%;
  text-decoration: none;
  color: white;
}

/* Novedades View */

.headerNewsContainer {
  width: 100%;
  text-align: center;
  margin: 5% auto 4%;
}

.headerNewsContainer h1 {
  font-size: 44px;
}

.headerNewsContainer h3 {
  text-align: center;
  width: 50%;
  margin: auto;
}

hr {
  width: 50%;
  margin: auto;
  border-top: 1px solid;
  opacity: 1;
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5% auto;
  width: 100%;
}

.newsContainer img {
  width: 30%;
  position: relative;
}

.newsDiv {
  width: 30%;
}

.newsDiv p {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.newsDiv h2 {
  width: 94%;
  font-size: 30px;
  font-weight: 600;
  margin: 2% 0;
}

.newsDiv p:nth-child(4) {
  font-size: 18px;
  width: 89%;
  margin: 1% 0 6%;
}

.newsDiv button {
  width: 31%;
  background-color: #766e65;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 1%;
  border-radius: 28px;
}

.newsDiv button a {
  text-decoration: none;
  width: 100%;
  color: white;
}

/* Novedad View */

.newsContainer-new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5% auto;
  width: 100%;
}

.newsDiv-new {
  width: 60%;
  margin: auto;
  text-align: start;
}

.newsDiv-new p {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.newsDiv-new h2 {
  width: 94%;
  font-size: 30px;
  font-weight: 600;
  margin: 2% 0;
}

.newsDiv-new p:nth-child(4) {
  font-size: 18px;
  width: 93%;
  margin: 1% 0 6%;
}

.newsContainer-new img {
  width: 50%;
}

.newsContainer-new button {
  width: 24%;
  background-color: #766e65;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 0.8%;
  border-radius: 28px;
  margin: 4% 0 6%;
}

.newsContainer-new button a {
  text-decoration: none;
  width: 100%;
  color: white;
}

/* Media Queries */

/* Index */

@media (max-width: 414px) {
  .carousel-inner {
    height: 32rem;
  }
  .carousel-indicators {
    top: 100%;
  }

  .logoFenedur {
    top: 13%;
    width: 35%;
    left: 10%;
  }
  .logoFenedur img {
    width: 100%;
  }

  .lenguaje {
    left: 54%;
    font-size: 18px;
    width: 25%;
    top: 5%;
  }
  .lenguaje button {
    padding: 5%;
    font-size: 13px;
  }
  .lenguaje button a {
    font-weight: 500;
  }
  .lenguaje button i {
    font-size: 14px;
  }

  .hamburguer {
    left: 87%;
    top: 3.5%;
    font-size: 30px;
  }
  .mobileHamb {
    top: 2%;
  }
  .menu {
    right: -70%;
    width: 20rem;
    top: 90%;
  }

  .v-line {
    height: 13%;
    left: 55%;
    top: 17%;
  }
  .v-line p {
    font-size: 15px;
    margin: 0 0 0 5%;
    width: 80%;
  }
  .btnConoceMas {
    left: 36%;
    top: 83%;
    font-size: 13px;
    width: 30%;
  }
  .btnConoceMas button {
    width: 93%;
  }

  .bellyMobile {
    display: block;
    background-image: url(../assets/img/imgMobile/mask-slider.png);
    position: absolute;
    top: 79.4%;
    z-index: 999999;
    width: 100%;
    height: 105px;
  }

  .navWho {
    background-image: url(../assets/img/navBackground.png);
    background-size: cover;
    height: 150px;
  }

  /* Quienes somos Index */

  .mainContainer h1 {
    text-align: center;
    font-size: 1.8rem;
    margin: 15% 0 2% 0;
  }
  .mainContainer p {
    width: 81%;
    font-size: 16px;
  }
  .mainContainer .boldText {
    font-size: 18px;
    font-weight: 600;
    width: 75%;
  }
  .mainContainer img {
    width: 80%;
  }
  .mainContainer .boldTextBottom {
    font-size: 24px;
    font-weight: 500;
    width: 81%;
  }
  .mainContainer .containerP {
    font-size: 17px;
    width: 81%;
  }
  .mainContainer button {
    width: 25%;
    font-size: 14px;
    margin: 3% 0;
  }

  .whyContainer {
    width: auto;
  }
  .whyContainer h2 {
    font-size: 31px;
  }
  .whyContainer img {
    width: 69%;
  }
  .whyContainer p {
    font-size: 18px;
    width: 80%;
  }
  .brandsContainer img {
    width: 100%;
  }

  .linksContainer {
    width: 90%;
    flex-flow: column nowrap;
  }
  .linksContainer .link {
    width: 100%;
    margin: 4% 0;
  }
  .linksContainer .linkText {
    margin: 0 0 0 2%;
  }
  .linksContainer .linkText a {
    font-size: 18px;
  }
  .linksContainer .linkText a span {
    margin-right: 40%;
  }
  .linkText img {
    width: 30%;
  }
  .linkText .world {
    width: 22%;
    margin-left: 3%;
  }
  .imgContainer {
    width: 10%;
    margin: 0;
  }
  .imgContainer img {
    width: 70%;
  }
  .black .whiteText img {
    width: 28%;
    margin-left: 4%;
  }
  .black .whiteText a {
    width: 100%;
  }
  .linkText .download {
    width: 20%;
    margin: 5% 4% 0 0;
  }

  .products {
    flex-flow: column nowrap;
  }
  .products img {
    width: 100%;
  }

  .footerContainer {
    height: auto;
  }
  .h_footer-container {
    margin: 10% 0 0 0;
  }
  /* .formContainer {
    width: 90%;
    height: auto;
  } */
  .dataFenedur {
    flex-flow: column nowrap;
    width: 90%;
    margin-top: 10%;
  }
  .logoContainer img {
    width: 32%;
  }
  .dataFenedur .logoContainer p {
    margin: 0;
    font-size: 12px;
  }
  .adress {
    width: 100%;
    margin: 0;
    font-size: 12px;
  }

  /* Quienes somos View */
  .mobileLogo {
    top: 1.6%;
  }
  .mobileLeng {
    top: 2.9%;
    left: 56%;
  }

  .whoContainer {
    width: 90%;
  }
  .whoContainer h1 {
    font-size: 25px;
    margin: 8% 0 12% 0;
  }
  .whoContainer h2 {
    font-size: 18px;
  }
  .whoContainer img {
    width: 90%;
  }

  .ourProducts {
    width: 85%;
    font-size: 15px;
  }

  .sliderBrands {
    width: 90%;
    height: 250px;
  }
  .inner {
    height: auto;
    padding: 0;
  }
  .carousel-item .mobileSlider {
    width: 100%;
  }
  .sliderLabel {
    margin: auto;
    width: 80%;
  }
  .sliderLabel p {
    font-size: 1rem;
  }

  .whySection {
    width: 100%;
    margin-bottom: 7%;
  }
  .whyHeader h2 {
    width: 90%;
    margin: 5% auto 2%;
    font-size: 30px;
  }
  .whyHeader img {
    width: 67%;
  }
  .whyHeader h3 {
    width: 82%;
    font-size: 16px;
    line-height: 25px;
  }
  .whyHeader p {
    width: 82%;
    font-size: 13px;
  }

  .fromUruguay {
    width: 100%;
  }
  .fromUruguay h2 {
    font-size: 20px;
  }
  .fromUruguay h4 {
    font-size: 13px;
    width: 91%;
    line-height: 20px;
  }
  .fromUruguay img {
    width: 65%;
  }
  .fromUruguay .firstP {
    width: 90%;
    font-size: 16px;
    margin: 5% auto;
    line-height: 26px;
  }
  .fromUruguay p {
    font-size: 13px;
    width: 92%;
  }
  .fromUruguay p span {
    font-size: 12px;
  }

  .mision {
    font-size: 13px;
    width: 55%;
  }
  .mision h2 {
    font-size: 52px;
  }
  .mision p {
    line-height: 20px;
  }
  .misionContainer img {
    top: 25px;
  }
  .visionContainer {
    gap: 10%;
    margin: 5% 0 2.5% 0;
  }
  .visionContainer img {
    width: 23%;
  }
  .vision {
    font-size: 13px;
    width: 55%;
  }
  .vision h2 {
    font-size: 52px;
  }
  .vision p {
    width: 90%;
    line-height: 20px;
    margin: 0 auto;
  }
  .valores {
    font-size: 22px;
    line-height: 17px;
  }
  .valores h2 {
    font-size: 55px;
  }

  /* Marcas y Productos */
  .brands-products {
    width: 90%;
  }
  .brands-products h1 {
    margin: 5% auto;
    font-size: 25px;
  }
  .brands-products p:nth-child(2) {
    font-size: 20px;
    width: 90%;
  }
  .brands-products p:nth-child(3) {
    font-size: 16px;
    width: 80%;
    margin: 2% auto 4%;
  }

  .selectContainer {
    width: 65%;
    font-size: 14px;
  }

  .gridBrands {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 12% auto;
  }

  /* Nuestros Mercados */

  .shadowHeader {
    font-size: 25px;
    background-color: transparent;
    box-shadow: none;
    z-index: 999;
    top: 16%;
    margin: 6% auto 0;
  }
  .ourMarketsHeader {
    width: 120%;
    height: 320px;
    background-repeat: no-repeat;
    right: 10%;
    margin: 10% 0 0 0;
  }
  .mainText {
    width: 90%;
    z-index: 998;
    position: relative;
    bottom: 35px;
  }
  .mainText h2 {
    width: 80%;
    font-size: 18px;
  }
  .mainText p {
    width: 90%;
    font-size: 14px;
  }

  .gridFlags {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 80%;
    column-gap: 0%;
  }
  .flags a {
    width: 100%;
  }
  .flags p {
    font-size: 16px;
  }

  /* Novedades */

  .headerNewsContainer {
    margin: 8% auto;
  }
  .headerNewsContainer h1 {
    font-size: 28px;
  }
  .headerNewsContainer h3 {
    width: 80%;
    font-size: 18px;
  }

  .newsContainer {
    flex-flow: column;
    margin: 8% auto 13%;
  }
  .newsDiv {
    width: 90%;
  }
  .newsDiv p {
    font-size: 17px;
  }
  .newsDiv h2 {
    width: 65%;
    font-size: 20px;
  }
  .newsDiv p:nth-child(4) {
    font-size: 15px;
    width: 95%;
    margin: 4% auto 4% 0%;
  }
  .newsDiv button {
    padding: 0.5%;
    margin: 2% auto 5%;
  }
  .newsContainer img {
    width: 90%;
  }

  .newsDiv-new {
    width: 90%;
  }
  .newsDiv-new p {
    font-size: 17px;
  }
  .newsDiv-new h2 {
    font-size: 20px;
    width: 65%;
  }
  .newsDiv-new p:nth-child(4) {
    font-size: 15px;
    width: 95%;
    margin: 4% auto 4% 0%;
  }
  .newsContainer-new img {
    width: 90%;
  }
  .newsContainer-new button {
    width: 60%;
    font-size: 15px;
    margin: 11% 0 6%;
  }

  /* Producto */

  .productSection h2 {
    font-size: 24px;
    margin: 10% auto 8%;
  }

  .productContainer {
    width: 100%;
  }
  .productContainer img {
    width: 90%;
  }
  .productContainer .mobileHeader {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    width: 67%;
  }
  .productContainer p {
    font-size: 16px;
    width: 85%;
  }

  .brandIn {
    width: 100%;
  }
  .brandIn h3 {
    font-size: 17px;
    width: 80%;
  }
  .brandIn .chooseCountry {
    width: 82%;
    font-size: 14px;
  }
  .gridBrandCountry {
    width: 90%;
  }
  .productContainer .brandCountry img {
    width: 30%;
  }
  .productContainer .brandCountry p {
    font-size: 12px;
  }

  .back-markets {
    flex-flow: column nowrap;
    gap: 30px;
    margin: 6% auto;
  }
  .back-markets button {
    font-size: 14px;
    width: 55%;
  }

  /* Producto Pais */

  .productCountrySection h2 {
    font-size: 24px;
    margin: 10% auto 8%;
  }
  .productCountryContainer {
    width: 100%;
  }
  .productCountryContainer img {
    width: 90%;
  }
  .productCountryContainer h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    width: 67%;
  }
  .productCountryContainer p {
    font-size: 16px;
    width: 85%;
  }

  .infoProduct {
    width: 90%;
  }
  .infoProduct h2 {
    font-size: 22px;
  }
  .infoProduct h3 {
    font-size: 14px;
    width: 90%;
  }
  .infoProduct img {
    width: 90%;
  }

  .infoCountry {
    width: 90%;
  }
  .infoCountry p {
    font-size: 14px;
  }
  .infoCountry h4 {
    font-size: 16px;
  }

  .infoTel .iconContainer img {
    width: 8%;
  }
  .infoTel .telContainer {
    margin-left: 9%;
  }

  .infoEmail img {
    width: 8%;
  }

  .infoRRSS {
    overflow-wrap: anywhere;
    gap: 6px;
  }
  .infoMedia img {
    width: 8%;
  }

  .back-markets-country {
    flex-flow: column nowrap;
    gap: 20px;
  }
  .back-markets-country button {
    font-size: 14px;
    width: 50%;
    padding: 3px;
  }

  /* Nuestros Mercados Pais */
  .countryContainer {
    width: 90%;
  }
  .countryContainer h1 {
    font-size: 25px;
  }
  .countryContainer h2 {
    font-size: 28px;
  }
  .countryContainer p {
    font-size: 15px;
    width: 80%;
    line-height: 22px;
  }
  .countryContainer p:nth-child(n + 4) {
    font-size: 13px;
    width: 90%;
  }

  .contactLogos {
    flex-flow: column nowrap;
    width: 90%;
  }
  .logoContainer {
    line-height: 25px;
  }
  .contactLogos .logoContainer img {
    width: 8%;
  }
  .logoContainer p {
    font-size: 15px;
  }

  .headerBrands {
    width: 90%;
    margin: 5% auto;
  }

  .gridCards {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    column-gap: 5px;
  }
  .cardBrand {
    font-size: 18px;
    height: 300px;
    width: 100%;
  }
  .buttonsContainer {
    width: 50%;
  }
  .cardBrand .goWeb {
    font-size: 12px;
  }
  .cardBrand .goBrand {
    font-size: 12px;
  }

  .gridFlagsMarket-grey {
    width: 100%;
    padding: 4% 4%;
  }
  .flags img {
    width: 30%;
  }
  .flags p {
    font-size: 14px;
  }

  .gridBrandsDropdown-grey {
    margin: 0% auto;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
  }

  /* Formulario */
  .formContainer {
    flex-flow: column nowrap;
    width: 90%;
  }
  .formContainer .col1 {
    width: 100%;
    margin-top: 5%;
  }
  .formSelect {
    width: 100%;
  }
  .formContainer .formSelect select {
    margin: 2% 25% 3% 0;
  }
  .formContainer .col2 {
    width: 100%;
  }
  .formText {
    width: 90%;
  }
  .formContainer .formText label {
    margin-right: 10%;
  }
  .formContainer .formText textarea {
    width: 90%;
    font-size: 14px;
  }
  .captcha {
    margin: 4% 0;
  }
  .btnSubmit {
    width: 82%;
    margin: 4% 0 10% 0;
  }
  .btnSubmit button {
    font-size: 18px;
    width: 45%;
    padding: 2.5%;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .carousel-inner {
    height: 51rem;
  }
  .sliderBrands .inner {
    height: 14rem;
  }
  .v-line {
    height: 15%;
  }
  .shadowHeader {
    top: 28%;
  }
}

@media (min-width: 415px) and (max-width: 1366px) {
  .v-line p {
    width: 90%;
  }
  .shadowHeader {
    top: 37%;
  }
  .ourMarketsHeader {
    height: 570px;
  }
}

@media (max-width: 375px) {
  .carousel-indicators {
    top: 93%;
  }
  .sliderBrands .indicators {
    top: 100%;
  }
  .mainContainer {
    margin-top: 0;
  }
  .mainContainer h1 {
    margin: 5% 0 2% 0;
  }

  .shadowHeader {
    top: 22%;
    margin: 2% auto 0;
  }
  .ourMarketsHeader {
    width: 130%;
    /* right: 15%; */
    height: 310px;
  }
  .btnConoceMas {
    top: 77%;
  }
  .brandIn .chooseCountry {
    width: 95%;
  }
  .infoCountry {
    width: 100%;
  }
  .infoCountry p {
    font-size: 13.9px;
  }
  .flags p {
    font-size: 13px;
  }
  .bellyMobile {
    top: 70.3%;
    background-position: bottom;
  }
}

@media (max-width: 360px) {
  .shadowHeader {
    margin: 0;
    top: 24%;
  }
  .ourMarketsHeader {
    height: 300px;
  }
  .v-line p {
    width: 95%;
  }
  .carousel-inner {
    height: 30rem;
  }
  .gridFlags {
    width: 90%;
  }
  .sliderBrands .inner {
    height: 6rem;
  }
  .flags p {
    font-size: 12px;
  }
  .bellyMobile {
    top: 71%;
  }
}
